
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    text-align: center;
    background-color: #f1c7be;
    
}
div{
    height: 500px;
    width: 1000px;
    
    margin: 50px auto;
    border-radius: 30px;
    
}
h3{
    font-size: 50px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 800;
    color:#03346E;
    
}
button{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    font-family: "Fjalla One", sans-serif;
    background-color:#E9FF97;
}
